<!DOCTYPE html>
<html>
<head>
	<title>Edit User {{ users.id }}</title>
</head>
<body>
	<h1>Edit User {{ users.id }} </h1>
		<form action="/{{ users.id }}/edit/update" method="POST">
		{%csrf_token%}
	<table>
		<tr>
			<td>First Name:</td>
			<td><input type="text" name="first_name" value="{{ users.first_name }}"></td>
		</tr>
		<tr>
			<td>Last Name:</td>
			<td><input type="text" name="last_name" value="{{ users.last_name }}"></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><input type="text" name="email" value="{{ users.email }}"></td>
		</tr>
	</table>
	<button type="submit">Save User Info</button>
	</form>
</body>
</html>