<!DOCTYPE html>
<html>
<head>
	<title>Users New</title>
</head>
<body>
	<h1>Add a new user</h1>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<form action="/new/create" method="POST">
		{%csrf_token%}
	<table>
		<tr>
			<td>First Name:</td>
			<td><input type="text" name="first_name"></td>
		</tr>
		<tr>
			<td>Last Name:</td>
			<td><input type="text" name="last_name"></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><input type="text" name="email"></td>
		</tr>
	</table>
	<button type="submit">Add New User!</button>
	</form>
</body>
</html>